<% provide(:title, "HOME") %>
<div class="home_container">
  <div class="posts_container">
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
  </div>
  <div class="new_post">
    <div class="post_btn">
      <i class="fas fa-plus"></i>
    </div>
  </div>
</div>
