<div class="topic">
  <div class="posted_date">
    <p class="date_tag">Posted,</p>
    <p><%= topic.created_at.strftime('%Y/%m/%d') %></p>
  </div>
  <%= image_tag topic.image.thumb.url, class: "topic_img" %>
  <div class="topic_content">
    <%= link_to topic.title, topic_path(topic.id), class: "topic_title" %>
    <div class="topic_info"><%= topic.content %></div>
    <div class="topic_user">
      <%= image_tag topic.user.image.thumb.url, class: "topic_user_img" %>
      <div class="user_name"><%= topic.user.name %></div>
    </div>
  </div>
</div>