<% provide(:title, "users#edit") %>
<div class="users_edit_container">
  <div class="title">プロフィール編集</div>
  <%= link_to user_path(@user.id), class:"user_delete", method: :delete, data: {confirm: "削除しますか？"} do %>
    <span>アカウント削除</span>
    <i class="fas fa-trash-alt"></i>
  <% end %>
  <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="form">
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name, class: 'form-control font_light' %>
    </div>
    <div class="form">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control font_light' %>
    </div>
    <div class="form">
      <%= f.label :image, "写真" %>
      <%= f.file_field :image, class: 'file_upload font_light' %>
    </div>
    <div class="form">
      <%= f.label :commeent, "コメント" %>
      <%= f.text_area :comment, class: 'form-control font_light' %>
    </div>
    <div class="form">
      <%= f.label :camera, "使用カメラ" %>
      <%= f.text_field :camera, class: 'form-control font_light' %>
    </div>
    <div class="form">
      <%= f.label :genre, "写真ジャンル" %>
      <div class="check_flex_container">
        <%= f.collection_check_boxes(:genre_ids, @genres, :id, :name) do |t| %>
          <div class="check_container">
            <%= t.check_box class: "check_box" %>
            <div class="check_text"><%= t.text %></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="submit_btn">
      <%= f.submit "登録", class: "btn btn-success" %>
    </div>
  <% end %>
</div>