<% provide(:title, "users#show") %>
<div class="users_show_container">
  <div class="profile_container">
    <div class="upper_item">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: "profile_img" %>
      <% else %>
        <%= image_tag "/noimage.jpg", class: "profile_img" %>
      <% end %>
      <div class="right_item">
        <div class="user_name"><%= @user.name %></div>
        <div class="user_info">
          <div class="user_prize">
            <div class="prize"><i class="fas fa-award gold"></i>×<span class="bold">1</span></div>
            <div class="prize"><i class="fas fa-award silver"></i>×<span class="bold">4</span></div>
            <div class="prize"><i class="fas fa-award blonze"></i>×<span class="bold">5</span></div>
          </div>
          <div class="post_num">投稿<span class="bold">11</span>件</div>
          <div class="follow_num">フォロー<span class="bold">22</span>人</div>
          <div class="follower_num">フォロワー<span class="bold">333</span>人</div>
        </div>
        <div class="user_action">
          <% if current_user == @user %>
            <%= link_to "ログアウト", logout_path, method: :delete, class: "logout_btn" %>
            <%= link_to edit_user_path(current_user), class: "link_style" do%>
              <i class="fas fa-cog"></i>
            <% end %>  
          <% else %>
            <div class="follow_btn">フォローする</div>
            <i class="fas fa-envelope-open"></i>
          <% end %>
        </div>  
      </div>
    </div>
    <div class="lower_item">
      <div class="user_genre">
        <div class="genre_tag silk marker_silk2">写真ジャンル</div>
        <div class="genre_container">
        <% @user.genres.each do |genre| %>
          <div class="genre_tag"><%= genre.name %></div>
        <% end %>
        </div>
      </div>
      <% if @user.camera %>
        <div class="user_camera">
          <div class="camera_tag marker_silk2">使用カメラ</div>
          <div class="camera_body content"><%= @user.camera %></div>
        </div>
      <% end %>  
    </div>
    <% if @user.comment %>
      <div class="comment"><%= @user.comment %></div>
    <% end %>  
  </div>
  <!-- posts display section -->
  <%= render "shared/posts_index", posts: @posts %>
</div>

<!-- new post btn -->
<%= link_to new_post_path do %>
  <div class="new_post">
    <div class="post_btn">
      <i class="fas fa-plus"></i>
    </div>
  </div>
<% end %>
<!-- Modal -->
<div id="mask" class="hidden"></div>
<div id="modal" class="hidden"></div>
