<% provide(:title, "users#show") %>
<div class="users_show_container">
  <div class="profile_container">
    <div class="upper_item">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: "profile_img" %>
      <% else %>
        <%= image_tag "/noimage.jpg", class: "profile_img" %>
      <% end %>
      <div class="right_item">
        <div class="user_name"><%= @user.name %></div>
        <div class="user_info">
          <div class="user_prize">
            <div class="prize"><i class="fas fa-award gold"></i>×<span class="bold"><%= @num_first %></span></div>
            <div class="prize"><i class="fas fa-award silver"></i>×<span class="bold"><%= @num_second %></span></div>
            <div class="prize"><i class="fas fa-award blonze"></i>×<span class="bold"><%= @num_third %></span></div>
          </div>
          <div class="post_num">投稿<span class="bold"><%= @user.posts.count %></span>件</div>
          <div class="follow_num">フォロー<span class="bold"><%= @user.following.count %></span>人</div>
          <div id="follower_num">
            <%= render "users/follower_num", user: @user %>
          </div>
        </div>
        <div class="user_action">
          <% if current_user == @user %>
            <%= link_to "ログアウト", logout_path, method: :delete, class: "logout_btn" %>
            <%= link_to edit_user_path(current_user), class: "link_style" do%>
              <i class="fas fa-cog"></i>
            <% end %>  
          <% else %>
            <div id="follow_section">
              <%= render "/users/follow_section", user: @user %>  
            </div>
          <% end %>
        </div>  
      </div>
    </div>
    <div class="lower_item">
      <% if @user.genres.present? %>
        <div class="user_genre">
          <div class="genre_tag silk marker_silk2">写真ジャンル</div>
          <div class="genre_container">
          <% @user.genres.each do |genre| %>
            <div class="genre_tag"><%= genre.name %></div>
          <% end %>
          </div>
        </div>
      <% end %>
      <% if @user.camera %>
        <div class="user_camera">
          <div class="camera_tag marker_silk2">使用カメラ</div>
          <div class="camera_body content"><%= @user.camera %></div>
        </div>
      <% end %>  
    </div>
    <% if @user.comment %>
      <div class="comment"><%= @user.comment %></div>
    <% end %>  
  </div>
  <!-- posts display section -->
  <% if @user.posts.present? %>
    <div class="posts_title">投稿一覧</div>
    <%= render "shared/posts_index", posts: @posts %>
  <% end %>
</div>

<!-- new post btn -->
<%= link_to new_post_path, id: "new_post" do %>
  <div class="new_post">
    <div class="post_btn">
      <i class="fas fa-plus"></i>
    </div>
  </div>
<% end %>
<!-- Modal -->
<div id="mask" class="hidden"></div>
<div id="modal" class="hidden"></div>
