<% provide(:title, "users#show") %>
<div class="users_show_container">
  <div class="profile_container">
    <div class="upper_item">
      <%= image_tag("/sample/sample10.jpeg", class: "profile_img")%>
      <div class="right_item">
        <div class="user_name">Sakai Kenta</div>
        <div class="user_info">
          <div class="user_prize">
            <div class="prize"><i class="fas fa-award gold"></i>×<span class="bold">1</span></div>
            <div class="prize"><i class="fas fa-award silver"></i>×<span class="bold">4</span></div>
            <div class="prize"><i class="fas fa-award blonze"></i>×<span class="bold">5</span></div>
          </div>
          <div class="post_num">投稿<span class="bold">11</span>件</div>
          <div class="follow_num">フォロー<span class="bold">22</span>人</div>
          <div class="follower_num">フォロワー<span class="bold">333</span>人</div>
        </div>
        <div class="follow_btn"><span>フォローする</span><i class="fas fa-envelope-open"></i></div>
      </div>
    </div>
    <div class="lower_item">
      <div class="user_genre">
        <div class="genre_tag silk marker_silk2">写真ジャンル</div>
        <div class="genre_content content">ポートレート・風景・家族</div>
      </div>
      <div class="user_camera">
        <div class="camera_tag marker_silk2">使用機材</div>
        <div class="camera_body content"><span class="title_tag">ボディ</span>Canon6D</div>
        <div class="camera_lens content"><span class="title_tag">レンズ</span>SIGMA 24-105mm F4・Canon 50mm F1.8</div>
      </div>
    </div>
    <div class="comment">自然と田舎の風景の写真がメインです。&NewLine;最近はポートレートとPhotoshop加工にも挑戦中なので、得意な方は是非アドバイスください。</div>
  </div>
  <div class="posts_container">
    <div class="photo_container">
      <%= image_tag("/sample/sample01.jpg", class: "sample_photo")%>
      <div class="photo_info">
        <div class="left_item">
          <div class="good"><i class="fas fa-thumbs-up"></i>100</div>
          <div class="comment"><i class="fas fa-comment"></i>21</div>
        </div>
        <div class="date">2021/01/24</div>
      </div>
    </div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample05.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample06.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample07.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample08.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample05.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample06.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample07.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample08.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample05.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample06.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample07.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample08.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample05.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample06.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample07.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample08.jpg", class: "sample_photo")%></div>
  </div>
  <div class="new_post">
    <div class="post_btn">
      <i class="fas fa-plus"></i>
    </div>
  </div>
</div>
