<div class="posts_container">
  <% posts.each do |post| %>
    <div class="photo_container">
      <%= link_to post_path(post.id), remote: true do %>
        <%= image_tag post.image.url, class: "sample_photo" %>
      <% end %>
      <div class="photo_info">
        <div class="left_item">
          <div class="good">
            <!-- like section -->
            <div id="like_section_<%= post.id %>">
              <%= render "shared/like", post: post %> 
            </div>
          </div>
          <div class="comment"><i class="fas fa-comment"></i><%= post.comments.count %></div>
        </div>
        <div class="date"><%= post.created_at.strftime('%Y/%m/%d') %></div>
      </div>
    </div>
  <% end %>
</div>