<div class="modal_container">
  <div class="profile_container">
    <%= image_tag post.user.image.thumb.url , class: "profile_photo" %>
    <%= link_to post.user.name, user_path(post.user.id), class:"name" %>
    <% if current_user == post.user %>
      <%= link_to post_path(post.id), class:"delete post_delete", method: :delete, data: {confirm: "削除しますか？"} do %>
        <i class="fas fa-backspace"></i>
      <% end %>  
    <% end %>
    <div class="date"><%= post.created_at.strftime('%Y/%m/%d') %></div>
  </div>
  <div class="main_photo">
    <%= image_tag post.image.url %>
  </div>
  <div class="photo_info">
    <div class="left_item">
      <!-- like section -->
      <div class="good">
        <div id="like_section_modal">
          <%= render "shared/like", post: post %> 
        </div>
      </div>
      <!-- comment section -->
      <div class="comment">
        <i class="fas fa-comment"></i>
        <div id="comment_num_modal">
          <%= render "shared/comment_num", post: post %>
        </div>
      </div>
    </div>
    <div class="adress"><%= post.place %></div>
  </div>
  <div class="genre_container">
    <% post.genres.each do |genre| %>
      <div class="genre_tag"><%= genre.name %></div>
    <% end %>
  </div>
  <div class="my_comment_container">
    <div class="content"><%= post.content %></div>
  </div>
  <!-- contest section -->
  <% if post.contest && post.contest.status == "open" %>
    <div class="contest_container">
      <div class="contest_name marker_silk"><%= post.contest.name %></div>
      <div class="vote_container">
        <% if post.user == current_user %>
          <div class="btn btn-secondary">投票不可</div>
          <div class="connot_vote">自分の投稿に対しては投票できません。</div>
        <% else %>
          <% if @vote %>
            <%= link_to vote_path(post_id: post.id, contest_id: post.contest.id), method: :delete, data: {confirm: "投票を取り消しますか？"} do %>
              <div class="btn btn-secondary">投票済</div>
            <% end %>
          <% else %>
            <% if @voted_num.between?(0, 2) %>
              <%= link_to votes_path(post_id: post.id, contest_id: post.contest.id), method: :post do %>
                <div class="btn btn-primary">投票する</div>
              <% end %>
            <% else %>
              <div class="btn btn-secondary">投票不可</div>
            <% end %>  
          <% end %>
          <div class="vote_limit">このコンテストに対して、あと <span><%= 3 - @voted_num %>件</span> 投票できます。</div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments } %>
  </div>
  <div class="comment_container">
    <div class="comment_user">
      <%= image_tag current_user.image.thumb.url , class: "profile_photo" %>
      <div class="name"><%= current_user.name %></div>
      <div class="date"><%= Date.current.strftime("%Y/%m/%d") %></div>
    </div>
    <div class="new_comment">
    <%= form_with model: [@post, @comment] do |f| %>
      <div class="form">
        <%= f.text_area :comment_content, placeholder: "新規コメント", class: 'form-control text_area', id: "text_form" %>
      </div>
      <div class="submit_btn">
        <%= f.submit "送信", class: "btn btn-success" %>
      </div>
    <% end %>
    </div>
  </div>
</div>