<div class="modal_container">
  <div class="profile_container">
    <%= image_tag post.user.image.thumb.url , class: "profile_photo" %>
    <div class="name"><%= post.user.name %></div>
    <div class="date"><%= post.created_at.strftime('%Y/%m/%d') %></div>
  </div>
  <div class="main_photo">
    <%= image_tag post.image.url %>
  </div>
  <div class="photo_info">
    <div class="left_item">
      <div class="good"><i class="fas fa-thumbs-up"></i>100</div>
      <div class="comment"><i class="fas fa-comment"></i>21</div>
    </div>
    <div class="adress"><%= post.place %></div>
  </div>
  <div class="genre_container">
    <% post.genres.each do |genre| %>
      <div class="genre_tag"><%= genre.name %></div>
    <% end %>
  </div>
  <div class="my_comment_container">
    <div class="content"><%= post.content %></div>
  </div>
  <div class="comment_container">
    <div class="comment_user">
      <%= image_tag "/sample/sample10.jpeg", class: "profile_photo" %>
      <div class="name">Sakai Kenta</div>
      <div class="date">2021/01/24</div>
    </div>
    <div class="content">めっちゃ素敵ですね！&NewLine;どんなレタッチしてるんですか？</div>
  </div>
  <div class="comment_container">
    <div class="comment_user">
      <%= image_tag("/sample/sample10.jpeg", class: "profile_photo")%>
      <div class="name">Sakai Kenta</div>
      <div class="date"><%= Date.current.strftime("%Y/%m/%d") %></div>
    </div>
    <div class="new_comment">
    <%= form_with(model: @user, local: true) do |f| %>
      <div class="form">
        <%= f.text_area :name, placeholder: "新規コメント", class: 'form-control text_area' %>
      </div>
      <div class="submit_btn">
        <%= f.submit "送信", class: "btn btn-success" %>
      </div>
    <% end %>
    </div>
  </div>
</div>