<div class="modal_container">
  <div class="profile_container">
    <%= image_tag post.user.image.thumb.url , class: "profile_photo" %>
    <div class="name"><%= post.user.name %></div>
    <% if current_user == post.user %>
      <%= link_to post_path(post.id), class:"delete", method: :delete, data: {confirm: "削除しますか？"} do %>
        <i class="fas fa-backspace"></i>
      <% end %>  
    <% end %>
    <div class="date"><%= post.created_at.strftime('%Y/%m/%d') %></div>
  </div>
  <div class="main_photo">
    <%= image_tag post.image.url %>
  </div>
  <div class="photo_info">
    <div class="left_item">
      <div class="good">
        <% if post.liked_by?(current_user) %>
          <%= link_to post_like_path(post), method: :delete do %>
            <i class="fas fa-thumbs-up like"></i>
          <% end %>
        <% else %>
          <%= link_to post_likes_path(post), method: :post do %>
            <i class="fas fa-thumbs-up unlike"></i>
          <% end %>
        <% end %>
        <span><%= post.likes.count %></span>
      </div>
      <div class="comment"><i class="fas fa-comment"></i><%= post.comments.count %></div>
    </div>
    <div class="adress"><%= post.place %></div>
  </div>
  <div class="genre_container">
    <% post.genres.each do |genre| %>
      <div class="genre_tag"><%= genre.name %></div>
    <% end %>
  </div>
  <div class="my_comment_container">
    <div class="content"><%= post.content %></div>
  </div>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments } %>
  </div>
  <div class="comment_container">
    <div class="comment_user">
      <%= image_tag current_user.image.thumb.url , class: "profile_photo" %>
      <div class="name"><%= current_user.name %></div>
      <div class="date"><%= Date.current.strftime("%Y/%m/%d") %></div>
    </div>
    <div class="new_comment">
    <%= form_with model: [@post, @comment] do |f| %>
      <div class="form">
        <%= f.text_area :comment_content, placeholder: "新規コメント", class: 'form-control text_area', id: "text_form" %>
      </div>
      <div class="submit_btn">
        <%= f.submit "送信", class: "btn btn-success" %>
      </div>
    <% end %>
    </div>
  </div>
</div>