<% provide(:title, "posts#index") %>
<div class="posts_index_container">
  <div class="select_container">
    <%= form_with model: @hoge, class: "select_form" do |f| %>
      <div class="select_genre">
        <div class="select_title">ジャンル</div>
        <%= f.select :faculty, ["風景","ポートレート","料理","旅行","日常"], include_blank: "選択して下さい" %>
      </div>
      <div class="select_order">
        <div class="select_title">並び替え</div>
        <%= f.select :faculty, ["新着順","いいね数順"] %>
      </div>
    <% end %>
  </div>
  <div class="posts_container">
    <% @posts.each do |post| %>
      <%= link_to post_path(post.id), remote: true, class: "photo_container" do %>
        <%= image_tag post.image.url, class: "sample_photo" %>
        <div class="photo_info">
        <div class="left_item">
          <div class="good"><i class="fas fa-thumbs-up"></i>100</div>
          <div class="comment"><i class="fas fa-comment"></i>21</div>
        </div>
        <div class="date">2021/01/24</div>
      </div>
    　<% end %>
    <% end %>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample05.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample06.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample07.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample08.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample05.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample06.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample07.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample08.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample05.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample06.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample07.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample08.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample01.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample02.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample03.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample04.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample05.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample06.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample07.jpg", class: "sample_photo")%></div>
    <div class="photo_container"><%= image_tag("/sample/sample08.jpg", class: "sample_photo")%></div>
  </div>
</div>
<%= link_to new_post_path do %>
  <div class="new_post">
    <div class="post_btn">
      <i class="fas fa-plus"></i>
    </div>
  </div>
<% end %>


<!-- Modal -->
<div id="mask" class="hidden"></div>
<div id="modal" class="hidden">
</div>

