<% provide(:title, "posts#new") %>
<div class="posts_new_container">
  <div class="title">新規投稿</div>
  <%= form_with(model: @post, local: true) do |f| %>
    <div class="form">
      <%= f.label :image, "写真" %>
      <%= f.file_field :image, class: 'file_upload font_light' %>
    </div>
    <div class="form">
      <%= f.label :genre, "写真ジャンル" %>
      <div class="check_flex_container">
        <%= f.collection_check_boxes(:genre_ids, @genres, :id, :name) do |t| %>
          <div class="check_container">
            <%= t.check_box class: "check_box" %>
            <div class="check_text"><%= t.text %></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form">
      <%= f.label :place, "撮影場所" %>
      <%= f.text_field :place, class: 'form-control font_light' %>
    </div>
    <div class="form">
      <%= f.label :content, "コメント" %>
      <%= f.text_area :content, class: 'form-control font_light' %>
    </div>
    <div class="submit_btn">
      <%= f.submit "登録", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
