<div class="header">
  <div class="header_title">
    <div class="header_maintitle">Photographer</div>
    <div class="header_sentence">写真好きのための気ままなコミュニティーサイト。</div>
  </div>
  <div class="header_link">
    <div class="link_left">
      <%= link_to "投稿写真","#" %>
      <%= link_to "掲示板","#" %>
      <%= link_to "コンテスト","#" %>
      <%= link_to "フォトスポット検索","#" %>
    </div>
    <div class="link_right">
      <%= link_to "マイページ","#" %>
    </div>
  </div>
</div>