<div class="header">
  <div class="header_title">
    <%= link_to "Photographer", posts_path, class: "header_maintitle" %>
    <div class="header_sentence">写真好きのための気ままなコミュニティーサイト。</div>
  </div>
  <div class="header_link">
    <div class="link_left">
      <%= link_to "投稿写真", posts_path %>
      <%= link_to "コンテスト", contests_path %>
      <%= link_to "掲示板", topics_path %>
    </div>
    <div class="link_right">
      <% if current_user %>
        <%= link_to "マイページ", user_path(current_user) %>
      <% else %>
        <%= link_to "ログイン", login_path %>
        or
        <%= link_to "新規登録", signup_path %>
      <% end %>  
    </div>
  </div>
</div>